@page "/configurator/ChooseCar"
<PageTitle>Choose your Car</PageTitle>
@using PimpYourBlech_BlazorApp.Services
@using PimpYourBlech_ClassLibrary.Entities
@using PimpYourBlech_ClassLibrary.Services.Configurator
@inject IConfiguratorService ConfiguratorService
@inject NavigationManager Nav
@inject IImageService ImageService

<div class="menu-container">
<h3 class="headline-admin">Fahrzeug wählen:</h3>
@if (cars == null)
{
    <div>Keine Fahrzeuge gefunden.</div>
}
else
{
    @foreach (var c in cars)
    {
        var preview = ImageService.GetCarImageUrl(c.Id);

        <div class="car-card">

            <div class="combo-card-admin-grid" @onclick="@(() => Nav.NavigateTo($"/configurator/{c.Id}"))">
                <div class="combo-left">
                    @if (!string.IsNullOrWhiteSpace(preview))
                    {
                        <img src="@preview" class="combo-preview"/>
                    }
                    else
                    {
                        <div class="combo-empty">Keine Vorschau</div>
                    }
                </div>

                <div class="combo-right">
                    <div class="combo-header">
                        <div class="combo-title">
                            <div class="combo-name">@(c.Name)</div>
                            <div class="combo-meta">Hersteller: @c.Brand</div>
                            <div class="combo-meta">Modell: @c.Model</div>
                            <div class="combo-meta">Preis: @c.Price €</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
</div>
@code {
    private List<Car> cars = new();
    
    protected override void OnInitialized()
    {
        cars = ConfiguratorService.ListCars();
    }
}
<style>
    .car-card {
        padding: 12px;
        border: 1px solid #444;
        border-radius: 12px;
        margin-bottom: 12px;
        cursor: pointer
    }
    .car-card:hover {
        transform:scale(1.05);
        transition: transform .2s;
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    }
</style>