@page "/configurations"
@using PimpYourBlech_ClassLibrary.Entities
@using PimpYourBlech_ClassLibrary.Services.Configurator
@using PimpYourBlech_ClassLibrary.Session
@inject IUserSession UserSession
@inject NavigationManager Nav
@inject IConfiguratorService ConfiguratorService
<PageTitle>Configurations</PageTitle>


<div class="container">
<h3 class="headline-admin">Deine Konfigurationen:</h3>



    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-danger">@ErrorMessage</div>
    }
   
    
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Auto</th>
            <th>Anzahl Produkte</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var c in configurations)
        {
            <tr @onclick="@(() => Nav.NavigateTo($"/configurator/{c.CarId}/?configId={c.Id}"))"
                style="cursor: pointer">
                <td>@c.Name</td>
                <td>@c.Car.Name</td>
                <td>@c.Products.Count</td>
            </tr>
        }
        </tbody>
    </table>
</div>



    @code {
        private List<Configuration> configurations = new();
        private string ErrorMessage = "";

        protected override void OnInitialized()
        {
            
            var customerId = UserSession.CurrentUser.Id;
            if (customerId != null)
            {
                configurations = ConfiguratorService
                    .GetAllConfigurationsForCustomer(customerId);
            }
            else
            {
                ErrorMessage = "Keine Konfigurationen vorhanden";
            }
        }

    }