@page "/configurations"
@using PimpYourBlech_ClassLibrary.Services.Configurator
@using PimpYourBlech_ClassLibrary.Session
@using PimpYourBlech_Contracts.DTOs
@inject IUserSession UserSession
@inject NavigationManager Nav
@inject IConfiguratorService ConfiguratorService
<PageTitle>Configurations</PageTitle>


<div class="container">
<h3 class="headline-admin">Deine Konfigurationen:</h3>



    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-danger">@ErrorMessage</div>
    }
   
    
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Auto</th>
            <th>Anzahl Produkte</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var c in configs)
        {
            <tr @onclick="@(() => Nav.NavigateTo($"/configurator/{c.CarId}/?configId={c.ConfigurationId}"))"
                style="cursor: pointer">
                <td>@c.Name</td>
                <td>@c.CarName</td>
                <td>@c.ProductCount</td>
            </tr>
        }
        </tbody>
    </table>
</div>



@code {
    private List<ConfigurationCarItemsDto> configs = new();
        private string ErrorMessage = "";

        protected override async Task OnInitializedAsync()
        {
            
            var customerId = UserSession.CurrentUserId;
            if (customerId != null)
            {
                configs = await ConfiguratorService
                    .GetConfigurationsBasicsCustomerAsync(customerId);
            }
            else
            {
                ErrorMessage = "Keine Konfigurationen vorhanden";
            }
        }

    }