@page "/administrator/cars"
<PageTitle>Administrator/cars</PageTitle>
@using PimpYourBlech_ClassLibrary.Entities
@using PimpYourBlech_ClassLibrary.Services.Admin
@inject NavigationManager Nav
@inject IAdminService AdminService

<div class="blur-container">
    
    @if (filteredCars == null || filteredCars.Count == 0)
    {
        <p>Keine Fahrzeuge vorhanden.</p>
    }
    else
    {

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Hersteller</th>
                <th>Modell</th>
                <th>Preis</th>
                <th>Bestand</th>
            </tr>
            </thead>

            <tbody>
            @foreach (var c in filteredCars)
            {

                <tr @onclick="@(() => Nav.NavigateTo($"/administrator/cars/{c.Id}"))"
                    style="cursor: pointer;">
                    <td>@c.Name</td>
                    <td>@c.Brand</td>
                    <td>@c.Model</td>
                    <td>@c.Price</td>
                    <td>@c.Quantity</td>

                </tr>
            }
            </tbody>
        </table>
    }
    
    @if (FoundCar != null)
    {
        <div class="alert alert-info mt-3">
            <strong>Gefundenes Produkt:</strong><br/>
            Name: @FoundCar.Name <br/>
            Hersteller: @FoundCar.Brand <br/>
            Model: @FoundCar.Model <br/>
            Bestand: @FoundCar.Quantity
        </div>
    }
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-danger mt-3">@ErrorMessage</div>
    }

    <span class="me-2">Suche nach:</span>

    <select class="form-select me-2" style="width:auto"
            @bind="selectedSearchField">
        <option value="Name">Name</option>
        <option value="Hersteller">Hersteller</option>
        <option value="Model">Model</option>
    </select>

    <input class="text-inputPYB"
           placeholder="Suchbegriff..."
           @bind="searchValue"
           @oninput="(e => ApplyFilter())"/>

    <div class="button-column">
        <button class="buttons" @onclick="ApplyFilter">
            <MagnifyingGlassIcon></MagnifyingGlassIcon>
            Nach Fahrzeug suchen
        </button>
        <button class="buttons" @onclick="AddCar">
            <AddIcon></AddIcon>
            Fahrzeug hinzufügen
        </button>
        <button class="buttons" @onclick="Cancel">Zurück</button>
    </div>
</div>


@code {
    private List<Car> cars = new();
    private List<Car> filteredCars = new();

    private Car FoundCar;

    private string selectedSearchField = "Name";
    private string searchValue = string.Empty;

    private string ErrorMessage = "";

    protected override void OnInitialized()
    {
        cars = AdminService.GetCars();
        filteredCars = cars;
    }

    private void AddCar()
    {
        Nav.NavigateTo("/administrator/cars/new");
    }
    
    private void Cancel()
    {
        Nav.NavigateTo("/administrator/");
    }

    private void ApplyFilter()
    {
        if (string.IsNullOrWhiteSpace(searchValue))
        {
            filteredCars = cars;
            return;
        }

        var term = searchValue.Trim().ToLower();


        filteredCars = selectedSearchField switch
        {
            "Name" => cars
                .Where(c => c.Name != null &&
                            c.Name.ToLower().Contains(term))
                .ToList(),
            "Hersteller" => cars
                .Where(c => c.Brand != null &&
                            c.Brand.ToLower().Contains(term))
                .ToList(),
            "Model" => cars // Standard: Name
                .Where(c => c.Model != null &&
                            c.Model.ToLower().Contains(term))
                .ToList()
        };
    }

        
}