@page "/administrator/orders/{id:int}"
<PageTitle>Bestellung @Id</PageTitle>
@using PimpYourBlech_ClassLibrary.Services.Admin
@using PimpYourBlech_ClassLibrary.Services.Orders
@using PimpYourBlech_Contracts.EntityDTOs
@inject IAdminService AdminService
@inject IOrderService OrderService
@inject NavigationManager Nav

<div class="menu-container wide">

    <h3 class="headline-admin">Bestellübersicht</h3>
    @if (Order is null)
    {
        <p>Lade Daten…</p>
    }
    else
    {
        <div class="combo-card-admin wide">
            <div class="section">
                <h5 class="section-title">Bestellung</h5>
                <div class="admin-details-section-divider"></div>

                <div class="admin-detail-grid wide">
                    <div class="k">ID</div>
                    <div class="v">@Order.OrderId</div>
                    <div class="k">Bestelldatum</div>
                    <div class="v">@Order.OrderDate</div>
                    <div class="k">Gesamtpreis</div>
                    <div class="v">@Order.TotalPrice€</div>
                </div>
            </div>
            <div class="section">
            <h5 class="section-title">Kundendaten</h5>
            <div class="admin-details-section-divider"></div>

            <div class="admin-detail-grid wide">
                <div class="k">Vorname</div>
                <div class="v">@_customerDto.FirstName</div>
                <div class="k">Nachname</div>
                <div class="v">@_customerDto.LastName</div>
                <div class="k">E-Mail</div>
                <div class="v">@_customerDto.MailAddress</div>
                <div class="k">Username</div>
                <div class="v">@_customerDto.Username</div>
                <div class="k">Telefon</div>
                <div class="v">@_customerDto.Telefon</div>
            </div>
            </div>
            <div class="section">
            <h5 class="section-title">Lieferadresse</h5>
            <div class="admin-details-section-divider"></div>

            <div class="admin-detail-grid wide">
                <div class="k">Land</div>
                <div class="v">@_addressDto.Country</div>
                <div class="k">PLZ</div>
                <div class="v">@_addressDto.PostalCode</div>
                <div class="k">Stadt</div>
                <div class="v">@_addressDto.Town</div>
                <div class="k">Straße</div>
                <div class="v">@_addressDto.Street</div>
                <div class="k">Hausnummer</div>
                <div class="v">@_addressDto.HouseNumber</div>
            </div>
            </div>
        </div>

            <div class="combo-card-admin wide">
                <div class="section">
                    <h5 class="section-title">Produkte</h5>
                    <div class="admin-details-section-divider"></div>
                @if (products == null || products.Count == 0)
                {
                    <p>Keine Produkte vorhanden.</p>
                }
                else
                {
                 
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Hersteller</th>
                            <th>Artikelnummer</th>
                            <th>Häufigkeit</th>
                            <th>Preis</th>
                        </tr>
                        </thead>

                        <tbody>
                        @foreach (var p in products)
                        {
                            <tr
                                style="cursor: pointer">
                                <td>@p.Name</td>
                                <td>@p.Brand</td>
                                <td>@p.ArticleNumber</td>
                                <td>@p.Quantity</td>
                                <td>@p.UnitPrice</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            
            
                </div>
                </div>
            
            
            
            
            
            <div class="button-column">
                <button class="buttons" @onclick="Cancel">Zurück</button>
            </div>
       
    }
</div>

@code {
    [Parameter] public int Id { get; set; }
    public OrderDto? Order { get; set; }
    private DeliveryAddressDto? _addressDto = new DeliveryAddressDto();
    private CustomerDto _customerDto = new CustomerDto();
    private List<OrderPositionDto> products;

    protected override async Task OnInitializedAsync()
    {
        Order = await AdminService.GetOrderByIdAsync(Id);
        products = await AdminService.GetOrderItemsAsync(Order.OrderId);
        _customerDto = await AdminService.GetCustomerByIdAsync(Order.CustomerId);
        _addressDto = await OrderService.GetDeliveryAddressForOrderAsync(Order.OrderId);
    }

    private void Cancel()
    {
        Nav.NavigateTo("/administrator/orders");
    }

}

