@page "/administrator/products"
<PageTitle>Administrator/products</PageTitle>
@using PimpYourBlech_BlazorApp.Components.Icons
@using PimpYourBlech_ClassLibrary.Services.Admin
@using PimpYourBlech_ClassLibrary.Services.Configurator
@using PimpYourBlech_ClassLibrary.Services.Shop
@using PimpYourBlech_ClassLibrary.Services.Shop.Implementation
@using PimpYourBlech_Contracts.EntityDTOs
@using PimpYourBlech_Contracts.Enums
@using PimpYourBlech_Contracts.Query
@using PimpYourBlech_Data.Models
@inject IAdminService AdminService
@inject IConfiguratorService ConfiguratorService
@inject IShopService ShopService
@inject NavigationManager Nav


<div class="menu-container wide">

    <div class="search-container">

        <div class="search-row">
            <input class="search-input"
                   placeholder="Nach Artikelnummer, Name, Hersteller suchen..."
                   @bind="searchText"/>
            <button class="buttons" @onclick="LoadProductsAsync">
                Suchen
                <MagnifyingGlassIcon/>
            </button>

        </div>

        <div class="button-row">
            <div class="d-flex align-items-center gap-3">
                <label class="fields">Kategorie:</label>
                <select class="form-select" style="width: 200px"
                        @bind="selectedCategory" @bind:after="LoadProductsAsync">
                    <option value="">Alle</option>
                    @foreach (var c in Enum.GetValues<ProductType>())
                    {
                        <option value="@c">@c</option>
                    }
                </select>


            </div>

            <div class="d-flex align-items-center gap-3">
                <label class="fields">Sortieren nach:</label>
                <select class="form-select" style="width: 200px"
                        @bind="selectedSortOption" @bind:after="LoadProductsAsync">
                    <option value="@ProductSort.NameAsc">Standard</option>
                    <option value="@ProductSort.NameAsc">Name (A–Z)</option>
                    <option value="@ProductSort.NameDesc">Name (Z–A)</option>
                    <option value="@ProductSort.PriceAsc">Preis (aufsteigend)</option>
                    <option value="@ProductSort.PriceDesc">Preis (absteigend)</option>
                </select>
            </div>

            @if (cars != null)
            {
                <div class="d-flex align-items-center gap-3">
                    <label class="fields">Fahrzeug:</label>

                    <select class="form-select" style="width: 200px"
                            @bind="selectedCarId" @bind:after="LoadProductsAsync">

                        <option value="0">Alle</option>

                        @foreach (var c in cars)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>
                </div>
            }
        </div>


    </div>
    @if (products == null || products.Count == 0)
    {
        <p>Keine Fahrzeugteile vorhanden.</p>
    }
    else
    {
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Artikelnummer</th>
                <th>Name</th>
                <th>Hersteller</th>
                <th>Bestand</th>
            </tr>
            </thead>

            <tbody>
            @foreach (var p in products)
            {
                <tr @onclick="@(() => Nav.NavigateTo($"/administrator/products/{p.ProductId}"))"
                    style="cursor: pointer;">
                    <td>@p.ArticleNumber</td>
                    <td>@p.Name</td>
                    <td>@p.Brand</td>
                    <td>@p.Quantity</td>
                </tr>
            }
            </tbody>
        </table>
    }

    <div class="button-column">
        <button class="buttons" @onclick="AddProduct">
            <AddIcon></AddIcon>
            Produkt hinzufügen
        </button>
        <button class="buttons" @onclick="Cancel">Zurück</button>
    </div>
</div>

@code {
    private List<ProductDto> products;
    private List<CarDto> cars;
    private ProductType? selectedCategory = null; // null = Alle
    private ProductSort selectedSortOption = ProductSort.NameAsc;
    private string searchText = string.Empty;
    private ProductDto selectedProduct = new ProductDto();
    private int selectedCarId = 0;

    protected override async Task OnInitializedAsync()
    {
        await LoadProductsAsync();
        cars = await ConfiguratorService.ListCarsAsync();
    }

    private async Task LoadProductsAsync()
    {
        var q = new ProductListQuery
        {
            Type = selectedCategory,
            SortBy = selectedSortOption,
            SearchTerm = string.IsNullOrWhiteSpace(searchText) ? null : searchText.Trim(),
            CarId = selectedCarId == 0 ? null : selectedCarId
        };

        products = await AdminService.ProductListQueryAsync(q);
    }

    private void AddProduct()
    {
        Nav.NavigateTo("/administrator/products/new");
    }

    private void Cancel()
    {
        Nav.NavigateTo("/administrator");
    }
    
}

