@page "/administrator/products/{id:int}"
<PageTitle>Administrator/products/@Id.ToString()</PageTitle>
@using PimpYourBlech_BlazorApp.Services
@inject ICarService CarService

@using PimpYourBlech_BlazorApp.Services.Images
@using PimpYourBlech_ClassLibrary.Services.Cars
@using PimpYourBlech_ClassLibrary.Services.Products
@using PimpYourBlech_Contracts.EntityDTOs
@using PimpYourBlech_Contracts.Enums
@inject NavigationManager Nav
@inject IProductService ProductService

@inject IImageService ImageService
@if (showDeleteModal)
{
    <div class="pyb-backdrop" @onclick="CloseDeleteModal">
        <div class="pyb-modal" @onclick:stopPropagation="true">
            <h3 class="pyb-modal-title">Möchtest du das Fahrzeugteil wirklich löschen?</h3>
            <p class="pyb-modal-text">Diese Aktion kann nicht rückgängig gemacht werden.</p>

            <div class="pyb-modal-actions">
                <button class="buttons danger" @onclick="ConfirmDelete">Löschen</button>
                <button class="buttons" @onclick="CloseDeleteModal">Abbrechen</button>
            </div>
        </div>
    </div>
}


<div class="menu-container wide">
    <h3>Produktübersicht</h3>
    @if (Product == null)
    {
        <p>Lade Daten…</p>
    }
    else
    {
        <div class="detail-overview-admin">
            <img class="detail-image-admin" src="@ImageService.GetProductImageUrl(Product.ProductId)"/>

            <div class="upload-row-admin">
                <InputFile OnChange="OnProductImageSelected" accept="image/*"/>
                <button class="buttons" @onclick="SaveCarImage" disabled="@(uploadedProductImage is null)">
                    Speichern
                </button>
            </div>

            <div class="combo-card-admin wide">
                <div class="section">
                    <h5 class="section-title">Produktübersicht</h5>
                    <div class="admin-details-section-divider"></div>

                    <div class="admin-detail-grid wide">
                        <div class="k">ID</div>
                        <div class="v">@Product.ProductId</div>
                        <div class="k">Name</div>
                        <div class="v">@Product.Name</div>
                        <div class="k">Artikelnummer</div>
                        <div class="v">@Product.ArticleNumber</div>
                        <div class="k">Hersteller</div>
                        <div class="v">@Product.Brand</div>
                        <div class="k">Preis</div>
                        <div class="v">@Product.Price</div>
                        <div class="k">Lagerbestand</div>
                        <div class="v">@Product.Quantity</div>
                        <div class="k">Kategorie</div>
                        <div class="v">@Product.ProductType</div>
                    </div>
            

                </div>
            </div>


            <div class="button-column">
                <button class="buttons" @onclick="OpenDeleteModal">Fahrzeugteil löschen</button>
                <button class="buttons" @onclick="EditProduct">Fahrzeugteil bearbeiten</button>
                <button class="buttons" @onclick="Cancel">Zurück</button>
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public int Id { get; set; }

    public ProductDto? Product { get; set; }

    private IBrowserFile? uploadedProductImage;

    private string ErrorMessage = "";
    private string SuccessMessage = "";

    protected override async Task OnInitializedAsync()
    {
        Product = await ProductService.GetProductByIdAsync(Id);
    }

    private async Task DeleteProduct()
    {
        CarDto c = await CarService.GetCarByIdAsync(Product.CarId);
         ImageService.DeleteProductImage(Product.ProductId);
        if (Product.ProductType == ProductType.Lack)
        {
            foreach (var r in await CarService.GetAvailableRims(c.Id))
            {
                ImageService.Delete360Images(c.Id, Product.ProductId, r.ProductId);
            }
        }

        if (Product.ProductType == ProductType.Felge)
        {
            foreach (var color in await CarService.GetAvailableColors(c.Id))
            {
               ImageService.Delete360Images(c.Id, color.ProductId, Product.ProductId);
            }
        }

        await ProductService.DeleteProductAsync(Product);
    }

    private void OnProductImageSelected(InputFileChangeEventArgs e)
    {
        uploadedProductImage = e.File;
    }

    private async Task SaveCarImage()
    {
        if (Product.ProductId == 0 || uploadedProductImage is null) return;

        await ImageService.SaveProductImageAsync(Product.ProductId, uploadedProductImage);
        SuccessMessage = "Präsentationsbild gespeichert.";
    }

    private void EditProduct()
    {
        Nav.NavigateTo($"/administrator/products/{Product.ProductId}/edit");
    }

    private void Cancel()
    {
        Nav.NavigateTo("administrator/products/");
    }

    private bool showDeleteModal;

    void OpenDeleteModal() => showDeleteModal = true;
    void CloseDeleteModal() => showDeleteModal = false;

    async Task ConfirmDelete()
    {
        await DeleteProduct();
        showDeleteModal = false;
        Nav.NavigateTo("/administrator/products");
    }

}