@page "/administrator/products/{id:int}"
<PageTitle>Administrator/products/@Id.ToString()</PageTitle>

@using PimpYourBlech_BlazorApp.Services
@using PimpYourBlech_ClassLibrary.Entities
@using PimpYourBlech_ClassLibrary.Enums
@using PimpYourBlech_ClassLibrary.Services.Admin
@inject IAdminService AdminService
@inject NavigationManager Nav
@inject IImageService ImageService
@if (showDeleteModal)
{
    <div class="pyb-backdrop" @onclick="CloseDeleteModal">
        <div class="pyb-modal" @onclick:stopPropagation="true">
            <h3 class="pyb-modal-title">Möchtest du das Fahrzeugteil wirklich löschen?</h3>
            <p class="pyb-modal-text">Diese Aktion kann nicht rückgängig gemacht werden.</p>

            <div class="pyb-modal-actions">
                <button class="buttons danger" @onclick="ConfirmDelete">Löschen</button>
                <button class="buttons" @onclick="CloseDeleteModal">Abbrechen</button>
            </div>
        </div>
    </div>
}


<div class="menu-container">
<h3>Produktübersicht</h3>
@if (Product == null)
{
    <p>Lade Daten…</p>
}
else
{
    <div class="detail-overview-admin">
        <img class="detail-image-admin" src="@ImageService.GetProductImageUrl(Product.ProductId)" />

        <div class="upload-row-admin">
            <InputFile OnChange="OnProductImageSelected" accept="image/*" />
            <button class="buttons" @onclick="SaveCarImage" disabled="@(uploadedProductImage is null)">
                Speichern
            </button>
        </div>

        <div class="combo-card-admin">
            <p><strong>Name:</strong> @Product.Name</p>
            <p><strong>Artikelnummer:</strong> @Product.ArticleNumber</p>
            <p><strong>Hersteller:</strong> @Product.Brand</p>
            <p><strong>Preis:</strong> @Product.Price</p>
            <p><strong>Auf Lager:</strong> @Product.Quantity</p>
            <p><strong>Kategorie:</strong> @Product.ProductType</p>
        </div>


            <div class="button-column">
                <button class="buttons" @onclick="OpenDeleteModal">Fahrzeugteil löschen</button>
                <button class="buttons" @onclick="EditProduct">Fahrzeugteil bearbeiten</button>
                <button class="buttons" @onclick="Cancel">Zurück</button>
            </div>
        </div>
        }
    </div>
    
@code {
    [Parameter] public int Id { get; set; }

    public Product? Product { get; set; }

    private IBrowserFile? uploadedProductImage;

    private string ErrorMessage = "";
    private string SuccessMessage = "";

    protected override async Task OnInitializedAsync()
    {
        Product = await AdminService.GetProductByIdAsync(Id);
    }

    private async Task DeleteProduct()
    {
        Car c = AdminService.GetCarById(Product.CarId);
        await ImageService.DeleteProductImagesAsync(Product.ProductId);
        if (Product.ProductType == ProductType.Lack)
        {
            foreach (var r in AdminService.GetAvailableRims(c.Id))
            {
                await ImageService.Delete360ImagesAsync(c.Id, Product.ProductId, r.ProductId);
            }
        }

        if (Product.ProductType == ProductType.Felge)
        {
            foreach (var color in AdminService.GetAvailableColors(c.Id))
            {
                await ImageService.Delete360ImagesAsync(c.Id, color.ProductId, Product.ProductId);
            }
        }

        await AdminService.DeleteProductAsync(Product);
       
    }

    private void OnProductImageSelected(InputFileChangeEventArgs e)
    {
        uploadedProductImage = e.File;
    }

    private async Task SaveCarImage()
    {
        if (Product.ProductId == 0 || uploadedProductImage is null) return;

        await ImageService.SaveProductImagesAsync(Product.ProductId, uploadedProductImage);
        SuccessMessage = "Präsentationsbild gespeichert.";
    }

    private void EditProduct()
    {
        Nav.NavigateTo($"/administrator/products/{Product.ProductId}/edit");
    }

    private void Cancel()
    {
        Nav.NavigateTo("administrator/products/");
    }
    
    private bool showDeleteModal;

    void OpenDeleteModal() => showDeleteModal = true;
    void CloseDeleteModal() => showDeleteModal = false;

    async Task ConfirmDelete()
    {
        await DeleteProduct();
        showDeleteModal = false;
        Nav.NavigateTo("/administrator/products");

    }

}