@page "/administrator/customers/{id:int}"
<PageTitle>Administrator/customers/@Id.ToString()</PageTitle>
@using PimpYourBlech_ClassLibrary.Entities
@using PimpYourBlech_ClassLibrary.Services.Admin
@inject IAdminService AdminService
@inject NavigationManager Nav

@if (showDeleteModal)
{
    <div class="pyb-backdrop" @onclick="CloseDeleteModal">
        <div class="pyb-modal" @onclick:stopPropagation="true">
            <h3 class="pyb-modal-title">Möchtest du den User wirklich löschen?</h3>
            <p class="pyb-modal-text">Diese Aktion kann nicht rückgängig gemacht werden.</p>

            <div class="pyb-modal-actions">
                <button class="buttons danger" @onclick="ConfirmDelete">Löschen</button>
                <button class="buttons" @onclick="CloseDeleteModal">Abbrechen</button>
            </div>
        </div>
    </div>
}

<div class="menu-container">


  <h3 class="headline-admin">Kundenübersicht</h3>

    @if (p == null)
    {
        <p>Lade Daten…</p>
    }
    else
    {
        <div class="detail-overview-admin">
            <div class="combo-card-admin combo-card-wide">
                <h4 class="headline-admin">Nutzerdaten</h4>

                <div class="admin-detail-grid">
                    <div class="k">ID</div>
                    <div class="v">@p.Id</div>
                    <div class="k">Username</div>
                    <div class="v">@p.Username</div>
                    <div class="k">Administrator</div>
                    <div class="v"></div>
                </div>

                <div class="admin-details-section-divider"></div>
                <h4 class="headline-admin">Persönliche Daten</h4>
                <div class="admin-detail-grid">
                    <div class="k">Vorname</div>
                    <div class="v">@p.FirstName</div>
                    <div class="k">Nachname</div>
                    <div class="v">@p.LastName</div>
                    <div class="k">E-Mail</div>
                    <div class="v">@p.MailAddress</div>
                    <div class="k">Telefon</div>
                    <div class="v">@p.Telefon</div>
                </div>
                @if (p.DeliveryAddresses != null)
                {

                    foreach (DeliveryAddress d in p.DeliveryAddresses)
                    {
                        <div class="admin-details-section-divider"></div>

                        <h4 class="headline-admin">Registrierte Lieferadressen</h4>
                        <div class="admin-detail-grid">
                            <div class="k">Land</div>
                            <div class="v">@d.Country</div>
                            <div class="k">PLZ</div>
                            <div class="v">@d.PostalCode</div>
                            <div class="k">Stadt</div>
                            <div class="v">@d.Town</div>
                            <div class="k">Straße</div>
                            <div class="v">@d.Street</div>
                            <div class="k">Hausnummer</div>
                            <div class="v">@d.HouseNumber</div>
                        </div>
                    }
                }
                else
                {
                    <div class="admin-details-section-divider"></div>
                    <p>
                    <h4 class="headline-admin">Registrierte Lieferadresse</h4>
                    Keine Lieferadresse Registriert ...
                    </p>
                }
            </div>
        </div>
        <div class="detail-overview-admin">
            <div class="combo-card-admin combo-card-wide">
                <h4 class="headline-admin">Bestellungen</h4>

               
                @if (p.Orders == null || p.Orders.Count == 0)
                {
                    <p>Keine Bestellungen vorhanden.</p>
                }
                else
                {

                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Zeitstempel</th>
                            <th>Gesamtpreis</th>
                        </tr>
                        </thead>

                        <tbody>
                        @foreach (var o in p.Orders)
                        {
                            <tr @onclick="@(() => Nav.NavigateTo($"/administrator/orders/{o.OrderId}"))"
                                style="cursor: pointer">
                                <td>@o.OrderId</td>
                                <td>@o.OrderDate</td>
                                <td>@o.TotalPrice€</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            </div>
        </div>
        
        
        
        
        <div class="detail-overview-admin">
        <div class="combo-card-admin combo-card-wide">
            <h4 class="headline-admin">Konfigurationen</h4>

               
            @if (p.Configurations == null || p.Configurations.Count == 0)
            {
                <p>Keine Konfigurationen vorhanden.</p>
            }
            else
            {  
        
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Auto</th>
                        <th>Anzahl Produkte</th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var c in p.Configurations)
                    {
                        <tr @onclick="@(() => Nav.NavigateTo($"/configurator/{c.CarId}/?configId={c.Id}"))"
                            style="cursor: pointer">
                            <td>@c.Name</td>
                            <td>@c.Car.Name</td>
                            <td>@c.Products.Count</td>
                        </tr>
                    }
                    </tbody>
                </table>
                
            }
        </div>
        </div>
        
        <div class="button-column">
            <button class="buttons" @onclick="LockCustomer">Sperren</button>
            <button class="buttons" @onclick="OpenDeleteModal">Löschen</button>
            <button class="buttons" @onclick="EditCustomer">Bearbeiten</button>
            <button class="buttons" @onclick="Cancel">Zurück</button>
        </div>
    }
</div>

@code {
    [Parameter] public int Id { get; set; }

    public Customer? p { get; set; }

    protected override async Task OnInitializedAsync()
    {
        p = await AdminService.GetCustomerByIdIncludeAllAsync(Id);
    }

    private void LockCustomer()
    {
        // AdminService.LockCustomer(Customer)
    }


    private void EditCustomer()
    {
        Nav.NavigateTo($"/administrator/customers/{p.Id}/edit");
        
    } 
    
    private void Cancel()
    {
        Nav.NavigateTo("/administrator/customers");
    }
    
    private bool showDeleteModal;

    void OpenDeleteModal() => showDeleteModal = true;
    void CloseDeleteModal() => showDeleteModal = false;

    async Task ConfirmDelete()
    {
        await AdminService.DeleteCustomerAsync(p);
        showDeleteModal = false;
        Nav.NavigateTo("/administrator/customers");

    }
}
<style>
    .combo-card-wide {
        width: min(450px);
    }
</style>