@page "/administrator/images/products"
@using Blazored.Toast
@using Blazored.Toast.Configuration
@using Blazored.Toast.Services
@using PimpYourBlech_BlazorApp.Services
@using PimpYourBlech_ClassLibrary.Services.Admin
@using PimpYourBlech_Contracts.EntityDTOs
<PageTitle>Produktbilder bearbeiten</PageTitle>
@inject IImageService ImageService
@inject IAdminService AdminService
@inject IToastService ToastService
@inject ILogger<ChangeProductImages> Logger

<BlazoredToasts Position="ToastPosition.BottomRight"/>
<div class="menu-container wide">
    <h3>Produktbilder bearbeiten</h3>
    <label><strong>Produkt:</strong></label>
    <select class="form-select" @bind="SelectedProductId">
        <option value="0">-- Bitte wählen --</option>
        @foreach (var p in products)
        {
            <option value="@p.ProductId">@p.Name (@p.ProductId)</option>
        }
    </select>
    @if (SelectedProductId == 0)
    {
        <div>Bitte wähle ein Fahrzeug aus.</div>
    }

    @if (SelectedProductId != 0)
    {
        <hr/>

        <h4>Präsentationsbild:</h4>
        <img src="@ImageService.GetProductImageUrl(SelectedProductId)" style="max-width:320px;border-radius:12px;"/>

        <div style="margin-top:10px">
            <InputFile OnChange="OnProductImageSelected" accept="image/*"/>
            <button class="buttons" @onclick="SaveCarImage" disabled="@(uploadedProductImage is null)">Speichern</button>
        </div>
    }
</div>
@code {
    private List<ProductDto> products = new();
    private int SelectedProductId;

    private int CarId;

    private IBrowserFile? uploadedProductImage;

    private string ErrorMessage = "";
    private string SuccessMessage = "";

    protected override void OnInitialized()
    {
        Logger.LogInformation("Admin opened product image management page");
        products = AdminService.GetProducts();
    }

    private void OnProductImageSelected(InputFileChangeEventArgs e)
    {
        uploadedProductImage = e.File;
    }

    private async Task SaveCarImage()
    {
        if (SelectedProductId == 0 || uploadedProductImage is null) return;
        
        Logger.LogInformation(
            "Admin started uploading product image for ProductId={ProductId}",
            SelectedProductId
        );

        await ImageService.SaveProductImagesAsync(SelectedProductId, uploadedProductImage);

        ToastService.ShowSuccess("Präsentationsbild wurde gespeichert.");
        
        Logger.LogInformation(
            "Admin successfully uploaded product image for ProductId={ProductId}",
            SelectedProductId
        );
    }
}
